:root {
    --color-background: rgb(248, 248, 248);
    --color-border: #fff;
    --color-title: rgb(231, 150, 53);
    --color-link: black;
    --color-social-default: #0c0c0c;
    --color-social-facebook: #3b5998;
    --color-social-twitter: #1da1f2;
    --color-social-instagram: #c32aa3;
    --color-social-linkedin: #0077b5;
    --color-footer-bottom: #faf8f8;
    --color-text: black;
}
.footer {
    background-color: var(--color-background);
    border: 2px solid var(--color-border);
    text-align: center;
}
.footer__container {
    display: flex;
    gap: 20px; /* Hoặc giá trị mà bạn cảm thấy phù hợp */
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}
.footer__column {
    flex: 1;
    min-width: 200px;
    margin: 20px;
}
.footer__title {
    font-size: 1.25rem; /* Tương đương với 20px */
    margin-bottom: 20px;
    color: var(--color-title);
}
.footer__link {
    list-style-type: none;
    padding: 0;
}
.footer__link-item {
    margin-bottom: 10px;
}
.footer__link-item a {
    color: var(--color-link);
    text-decoration: none;
    transition: color 0.3s ease;
    font-size: 16px;
}
.footer__link-item a:hover {
    color: var(--color-social-default); /* Hoặc một màu khác */
    text-decoration: underline; /* Thêm gạch chân khi hover */
}
.footer__social-icons a {
    color: var(--color-social-default);
    margin: 0 10px;
    font-size: 20px;
}

.footer__social-icons a:hover[aria-label="Facebook"] {
    color: var(--color-social-facebook);
}

.footer__social-icons a:hover[aria-label="Twitter"] {
    color: var(--color-social-twitter);
}

.footer__social-icons a:hover[aria-label="Instagram"] {
    color: var(--color-social-instagram);
}

.footer__social-icons a:hover[aria-label="LinkedIn"] {
    color: var(--color-social-linkedin);
}

.footer__bottom {
    background-color: var(--color-footer-bottom);
    padding: 20px 0;
}

.footer__bottom p {
    color: var(--color-text);
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); /* Bóng đổ phía trên */
    padding-top: 20px;
}
@media only screen and (max-width: 768px) {
    .footer__container {
        flex-direction: column;
        align-items: center;
    }
    .footer__column {
        margin: 10px 0;
        text-align: center; /* Căn giữa văn bản cho các cột */
    }
}
