:root {
    --bg-color: #333;
    --text-color: #fff;
    --highlight-color: rgb(240, 146, 30);
    --nav-hover-bg-color: rgb(77, 76, 76);
    --button-bg-color: #f3ebeb;
    --button-hover-bg-color: #ffffff;
    --nav-padding: 15px;
    --input-height: 30px;
    --header-height: 80px;
}
.header__container {
    width: 100%;
    background-color: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    height: var(--header-height);
    position: relative;
    z-index: 1000;
}
.header__menu-toggle {
    display: block;
    color: var(--text-color);
    font-size: 24px;
    cursor: pointer;
    background: none;
    border: none;
}
.header__nav {
    flex-direction: column;
    background-color: var(--bg-color);
    position: absolute;
    top: var(--header-height);
    left: 0;
    right: 0;
    max-height: 0;
    overflow: hidden;
    transform: translateY(-20px);
    opacity: 0;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.header__nav--active {
    display: flex;
    max-height: calc(100vh - var(--header-height));
    transform: translateY(0);
    opacity: 1;
}
.header__nav ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    width: 100%;
    padding: 0;
}
.header__nav li {
    margin: var(--nav-padding) 0;
    text-align: center;
}
.header__nav a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s;
    border-radius: 20px;
    display: inline-block;
    padding: 10px 15px;
}
.header__nav a:hover {
    width: 100%;
    background-color: var(--nav-hover-bg-color);
    color: #f6e8e8;
}
.header__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    /* background-color: aqua; */
}
.header__search {
    position: relative;
}
.header__search input[type="text"] {
    width: 100%;
    height: var(--input-height);
    border: none;
    border-radius: 15px;
    padding: 0 30px 0 10px;
}
.header__search button {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 0px;
}
.header__search button i {
    font-size: 16px;
    color: var(--highlight-color);
}
.header__login-button {
    background-color: var(--button-bg-color);
    color: #333;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 8px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.header__login-button:hover {
    background-color: var(--button-hover-bg-color);
}
/*Styles for extra small devices (phones, < 576px)*/
@media only screen and (max-width: 575.98px) {
    .header__container {
        padding: 0 15px;
    }
    .header__nav li {
        margin: 10px 0;
    }
}
/*Styles for small deveices (tablets, 576px and up)*/
@media only screen and (min-width: 576px) and (max-width: 767.98px) {
   .header__container {
    padding: 0 20px;
   }
   .header__actions {
    /* background-color: aqua; */
    min-width: 350px;
   }
   .header__search {
    width: 70%;
   }
}
/*Styles for large devices (large desktops, 992 and up)*/
@media only screen and (min-width: 768px) {
    .header__menu-toggle {
        display: none;
    }
    .header__nav {
        display: flex;
        flex-direction: row;
        position: relative;
        opacity: 1;
        top: 0;
        background-color: transparent;
        max-height: none;
        transform: translateY(0);
    }
    .header__nav ul {
        flex-direction: row;
    }
    .header__nav li {
        margin: 0 5px;
    }
}
/*Styles for large devices (large desktops, 992px and up)*/
@media only screen and (min-width: 992px) {
    .header__nav li {
        margin: 0 12px;
    }
    .header__search {
        max-width: 400px;
    }
}
@media only screen and (min-width: 1200px) {

    .header__container {
        padding: 0 60px;
    }
    .header__actions {
        width: 600px;
        /* background-color: aqua; */
    }
    .header__nav li {
        margin: 0 25px;
    }
    .header__search input[type="text"] {
        min-width: 400px;
    }
}