* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html, body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
}
main {
    margin-top: 50px;
}
.container-card {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    gap: 10px;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: center; /* Thêm thuộc tính này để căn giữa */
}
.card {
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    height: 160px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #333;
    transition: transform 0.3s, box-shadow 0.3s;
    position: relative;
}
.card__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    height: 100%;
    width: 100%;
    color: inherit;
}
.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
.card__icon {
    font-size: 24px;
    margin-bottom: 5px;
    color: #f76c6c;
}
.card__title {
    font-size: 14px;
}
.content-title {
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
    color: #333;
}
